github "SwiftyJSON/SwiftyJSON"
github "SnapKit/SnapKit" >= 0.15.0
github "ibireme/YYText"
github "realm/realm-cocoa"
github "Alamofire/Alamofire" ~> 3.3
github "BradLarson/GPUImage"
github "SVProgressHUD/SVProgressHUD"
