github "SwiftyJSON/SwiftyJSON"
github "SnapKit/SnapKit" >= 0.15.0
github "realm/realm-cocoa"
github "Alamofire/Alamofire" ~> 3.3
github "SVProgressHUD/SVProgressHUD"
github "Flipboard/FLAnimatedImage"
